/*-------------------------------------------*/
/* variable                                  */
/*-------------------------------------------*/
@charset "utf-8";

$textC: #4D4D4D;//基本文字色
$linkC: #4D4D4D;//リンクの基本文字色
$hoverC: #4D4D4D;//ホバー時の基本色
$borderC: #CCCCCC;//線の基本職
$bg_gray: #F7F7F7;//背景色の薄い場所
$bg_base:#E0E7E8;//背景色の基本色

$gray:#767573;
$navy:#003C78;
$orange:#DB4620;


$sp_w:750px; //スマホのブレイクポイント
$tb_w:1100px; //中間サイズのブレイクポイント
$pc_w:1800px; //PCのブレイクポイント
$contents_maxwidth:1270px; //コンテンツの最大幅(横幅)
$menu_width:1500px; //メニューのブレークポイント



$spMgnH:50px; //スマホ時の上下基本マージン
$tbMgnH:65px; //中間サイズの上下基本マージン
$pcMgnH:65px; //PC時のの上下基本マージン

$spLR:20px; //スマホ時の左右基本マージン
$tbLR:40px; //中間サイズの左右基本マージン
$pcLR:40px; //PC時の左右基本マージン

$spPdg:0px;
$tbPdg:0px;
$pcPdg:0px;
