/*-------------------------------------------*/
/* 作成者    　 　 　 　 　                    */
/*-------------------------------------------*/
@charset "utf-8";
@import "_mixin";
.contents {
  padding-top: 100px;
}



//ここからコピペ----------------------------------------
#author {
  margin: 50px 0;
  border:1px solid #C5C5C5;
  background: #fff;
  padding:25px 15px;
  @include bbox;
  .author_cols {
    display: flex;
    justify-content:space-between;
  }
  .author_img {
    width: 120px;
    height: 120px;
    .round {
      width: 100%;
      border-radius: 50%;
      overflow: hidden;
    }
  }
  .author_texts {
    width: calc(100% - 140px);
  }
  .author_name {
    font-size: 13px;
    font-weight: bold;
    color:#363636;
    span {
      margin: 0 0 0 10px;
    }
  }


  .author_position{
    font-size: 11.5px;
    margin-top: 10px;
    line-height: 1.2;
    color:#363636;
    span {
      margin: 0 0 0 10px;
    }
  }
  .author_description {
    font-size: 11.5px;
    margin-top: 10px;
    line-height: 1.47;
    color:#656565;
  }
  @include mediaTB {
    padding:30px;
    .author_img {
      width: 110px;
      height: 110px;
    }
    .author_texts {
      width: calc(100% - 140px);
    }
    .author_name {
      font-size: 20px;
    }
    .author_position {
      font-size: 16px;
      margin-top: 15px;
    }
    .author_description {
      font-size: 15px;
      margin-top: 20px;
      line-height: 1.86;
    }
  }
  @include mediaPC {
    padding:30px 40px;
  }
}
//ここまでコピペ----------------------------------------