@charset "UTF-8";
/*-------------------------------------------*/
/* コース一覧(検索結果,タグ,カテゴリ一覧共通)     */
/*-------------------------------------------*/
/*-------------------------------------------*/
/* mixin                                     */
/*-------------------------------------------*/
/*-------------------------------------------*/
/* variable                                  */
/*-------------------------------------------*/
/*--------------------
個別変数定義
---------------------*/
body {
  background: #F7F7F7;
}

/*--------------------
ページ共通
---------------------*/
.contents {
  padding-top: 50px;
  background: #fff;
}
@media screen and (min-width: 1501px) {
  .contents {
    padding-top: 0;
  }
}

html {
  color: #000;
}

/*--------------------
inner
---------------------*/
.contents_head .inner,
.contents_body .inner {
  max-width: 1200px;
}
@media screen and (min-width: 1025px) {
  .contents_head .inner,
.contents_body .inner {
    margin: 0 auto;
  }
}

/*--------------------
ヘッダー
---------------------*/
.contents_head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.java_text {
  width: 45%;
  margin: 0 20px 0px 0;
}
@media all and (max-width: 750px) {
  .java_text {
    width: 100%;
    margin: 0 20px;
  }
}

.java_text_catch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-flow: row-reverse;
          flex-flow: row-reverse;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.java_text_catch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.java_text_detail {
  margin: 30px 0 0;
}
@media all and (max-width: 750px) {
  .java_text_detail {
    margin: 0px 0 0;
  }
}
@media all and (max-width: 750px) {
  .java_text_detail.pc {
    display: none;
  }
}
.java_text_detail.sp {
  padding: 0 20px;
}
@media all and (min-width: 751px) {
  .java_text_detail.sp {
    display: none;
  }
}

.java_image {
  width: 30%;
  text-align: right;
}
@media all and (max-width: 750px) {
  .java_image {
    width: auto;
  }
}
.java_image img {
  height: 300px;
}
@media all and (max-width: 750px) {
  .java_image img {
    height: auto;
  }
}

/*--------------------
「Java」セクション
---------------------*/
.java_tit {
  background: #003C78;
  color: #fff;
  text-align: center;
  font-size: 38px;
  padding: 10px;
}
@media all and (max-width: 750px) {
  .java_tit {
    font-size: 20px;
  }
}

.java_tree_basis {
  max-width: 840px;
  margin: 0 auto;
}

.java_tree_tit {
  margin: 0 0 20px;
  background: #505050;
  color: #fff;
  font-size: 32px;
  text-align: center;
  padding: 10px;
}
@media all and (max-width: 750px) {
  .java_tree_tit {
    font-size: 16px;
    margin: 0 0 10px;
  }
}

.java_tree_text {
  margin: 0 0 60px;
  border: 1px solid #505050;
  text-align: center;
  position: relative;
}
@media all and (max-width: 750px) {
  .java_tree_text {
    margin: 10px 0 40px;
  }
}
.java_tree_text:last-child {
  margin: 0;
}
.java_tree_text:last-child::after {
  display: none;
}
.java_tree_text.line::after {
  position: absolute;
  content: "";
  background-size: contain;
  left: 50%;
  background-image: url(../images/map/java_arrow.png);
  background-repeat: no-repeat;
  width: 20px;
  height: 60px;
  margin-left: -10px;
}
@media all and (min-width: 1101px) {
  .java_tree_text.line::after {
    width: 30px;
    height: 100px;
    margin-left: -15px;
  }
}

.java_tree_text_l {
  font-size: 25px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media all and (max-width: 750px) {
  .java_tree_text_l {
    font-size: 14px;
  }
}
.java_tree_text_l a {
  padding: 20px;
}
.java_tree_text_l.nolink {
  padding: 20px;
}

.java_tree_text_s {
  display: block;
  border-top: 1px solid #505050;
  font-size: 18px;
  height: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
}
@media all and (max-width: 750px) {
  .java_tree_text_s {
    font-size: 12px;
    height: 80px;
  }
}

@media all and (max-width: 1100px) {
  .java_tree_line img {
    display: none;
  }
}
@media all and (max-width: 1100px) {
  .java_tree_line::after {
    position: absolute;
    content: "";
    width: 20px;
    background-size: contain;
    height: 60px;
    left: 50%;
    margin-left: -10px;
    background-image: url(../images/map/java_arrow.png);
    background-repeat: no-repeat;
  }
}

@media all and (min-width: 1101px) {
  .java_tree_else {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media all and (max-width: 1100px) {
  .java_tree_else {
    margin: 40px 0 0;
  }
}

@media all and (min-width: 1101px) {
  .java_tree_else_left {
    width: 48%;
  }
}

@media all and (min-width: 1101px) {
  .java_tree_else_right {
    width: 48%;
  }
}
@media all and (max-width: 750px) {
  .java_tree_else_right {
    margin: 40px 0 0;
  }
}

.framework_tit {
  border-bottom: 1px solid #B3B3B3;
  font-size: 38px;
  margin: 80px 0 0;
  font-weight: bold;
}
@media all and (max-width: 750px) {
  .framework_tit {
    font-size: 20px;
  }
}

.course_register {
  text-align: center;
  margin: 80px auto;
  font-size: 26px;
  max-width: 840px;
}
.course_register a {
  position: relative;
  background: #eb681b;
  color: #fff !important;
  display: block;
  padding: 10px 50px;
  max-width: 450px;
  margin: 0 auto;
  border-radius: 40px;
}
.course_register a::before {
  content: "";
  position: absolute;
  right: 24px;
  width: 15px;
  height: 2px;
  background: #fff;
  top: 50%;
  margin-top: -1px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.course_register a::after {
  content: "";
  position: absolute;
  right: 24px;
  width: 10px;
  height: 10px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 50%;
  margin-top: -5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media all and (max-width: 750px) {
  .course_register {
    font-size: 16px;
  }
}
@media all and (min-width: 751px) {
  .course_register a {
    max-width: 600px;
    padding: 15px 50px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
}
@media all and (min-width: 1101px) {
  .course_register a:hover {
    background: rgba(235, 104, 27, 0.7);
  }
  .course_register a:hover::before {
    right: 20px;
  }
  .course_register a:hover::after {
    right: 20px;
  }
}

.java_note {
  font-size: 26px;
  margin: 20px 0px;
}
@media all and (max-width: 750px) {
  .java_note {
    font-size: 14px;
  }
}
.java_note.space {
  padding: 30px 0 0;
}
.java_note.space a {
  color: #00ABE7;
}
.java_note.space a:hover {
  opacity: 0.7;
}
.java_note.space2 {
  padding: 10px 0 0;
}
.java_note.space2 a {
  color: #00ABE7;
}
.java_note.space2 a:hover {
  opacity: 0.7;
}

.framework_table table {
  border: 1px solid rgb(143, 137, 137);
  width: 100%;
  border-radius: 5px;
  border-collapse: inherit;
}
@media all and (min-width: 1101px) {
  .framework_table table br {
    display: none;
  }
}
.framework_table th {
  border-bottom: 1px solid rgb(143, 137, 137);
  font-size: 38px;
  padding: 10px;
  background: #F7F7F7;
  font-weight: bold;
}
@media all and (max-width: 750px) {
  .framework_table th {
    font-size: 17px;
  }
}
.framework_table th:first-child {
  width: 42%;
  border-right: 1px solid rgb(143, 137, 137);
  border-radius: 4px 0 0 0;
}
.framework_table th:last-child {
  border-radius: 0 4px 0 0;
}
.framework_table td {
  font-size: 18px;
  text-align: left;
  padding: 40px;
}
@media all and (max-width: 750px) {
  .framework_table td {
    font-size: 11px;
    padding: 20px;
  }
}
.framework_table td:first-child {
  border-right: 1px solid rgb(143, 137, 137);
  font-size: 26px;
  text-align: center;
  vertical-align: middle;
}
@media all and (max-width: 750px) {
  .framework_table td:first-child {
    font-size: 14px;
  }
}
.framework_table td a {
  color: #00ABE7;
}
.framework_table td a:hover {
  opacity: 0.7;
}
.framework_table tr td {
  border-bottom: 1px solid rgb(143, 137, 137);
}
.framework_table tr:last-child td {
  border-bottom: none;
}

/*--------------------
セクションタイトル
---------------------*/
.article_title {
  color: #003C78;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.05em;
  margin-bottom: 1em;
}
@media all and (min-width: 751px) {
  .article_title {
    font-size: 18px;
  }
}

/*--------------------
本文
---------------------*/
.contents_body {
  padding: 20px 0;
}
.contents_body p {
  line-height: 2;
  margin: 0 0 20px;
  text-align: center;
}
.contents_body p + .article_title {
  margin-top: 30px;
}
.contents_body p + .list_num {
  margin-top: 1em;
}
.contents_body a {
  color: #003C78;
}
@media all and (min-width: 751px) {
  .contents_body {
    padding: 20px 0;
    font-size: 14px;
  }
}
@media all and (min-width: 1101px) {
  .contents_body {
    padding: 60px 0;
  }
  .contents_body a {
    display: block;
    width: 100%;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .contents_body a:hover {
    color: #00ABE7;
  }
}

/*--------------------
法人
---------------------*/
#business {
  position: relative;
  font-family: "小塚ゴシック Pro", "Kozuka Gothic Pro", "Noto Sans JP", sans-serif;
}
#business .texts {
  position: absolute;
  z-index: 1;
  right: 20px;
  top: 50%;
  width: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  text-align: center;
}
#business .biz_title {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  line-height: 1;
}
#business .biz_lead {
  font-size: 14px;
  color: #fff;
  margin: 10px 0 20px;
}
#business .btn_round {
  display: inline-block;
  background-color: #fff;
  color: #333333;
  line-height: 45px;
  border-radius: 23px;
  -webkit-box-shadow: 4px 4px 9px rgba(0, 0, 0, 0.16);
          box-shadow: 4px 4px 9px rgba(0, 0, 0, 0.16);
  border: none;
  font-size: 11px;
  font-weight: 400;
  width: 100%;
  max-width: 192px;
}
@media all and (min-width: 751px) {
  #business .biz_title {
    font-size: 22px;
  }
  #business .biz_lead {
    font-size: 16px;
  }
  #business .btn_round {
    font-size: 15px;
    max-width: 280px;
    line-height: 50px;
    border-radius: 45px;
  }
}
@media all and (min-width: 1101px) {
  #business .biz_title {
    font-size: 35px;
  }
  #business .biz_lead {
    font-size: 22px;
    margin: 15px 0 30px;
  }
  #business .btn_round {
    font-size: 20px;
    max-width: 384px;
    line-height: 90px;
    border-radius: 45px;
  }
}
@media screen and (min-width: 1300px) {
  #business .biz_lead {
    margin: 20px 0 40px;
  }
}
@media all and (min-width: 1801px) {
  #business .image {
    height: 430px;
  }
  #business .image img {
    -o-object-fit: cover;
       object-fit: cover;
    height: 100%;
  }
}